
.form-group{
    width: 100%;
    margin: 3em 0;
    background: transparent;
    font-family: 'Rubik';
}

.form-group-sm{
    width: 100%;
    margin: 1.2em 0;
    background: transparent;
    font-family: 'Rubik';
}

.form-group .form-input{
    width: 100%;
    height: 100%;
    box-shadow: none;
    background: none;
    border-style: none none solid none;
    border-color: #cecece;
    transition: all 0.5s;
    padding: 5px;
    color: #FF7B54;
}

.form-group-sm .form-input{
    width: 100%;
    height: 100%;
    box-shadow: none;
    background: none;
    border-style: none none solid none;
    border-color: #cecece;
    transition: all 0.5s;
    padding: 5px;
    color: #FF7B54;
}



.form-group .form-label{
    font-size: 1em;
    display: block;
    opacity: 1;
    transform: translate(0.2em, -2em);
    transform-origin: 0 0;
    transition: all 0.3s;
    user-select: none;
}

.form-group-sm .form-label{
    font-size: 0.9em;
    display: block;
    opacity: 1;
    transform: translate(0.2em, -2em);
    transform-origin: 0 0;
    transition: all 0.3s;
    user-select: none;
}

.form-group .form-input::placeholder{
    color: transparent;
}

.form-group-sm .form-input::placeholder{
    color: transparent;
}

.form-group .form-input:focus{
    box-shadow: none;
    outline: none;
    border-color: #ffffff;
}

.form-group-sm .form-input:focus{
    box-shadow: none;
    outline: none;
    border-color: #ffffff;
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label{
    transform: translate(0.2em, -3.6em);
    color: white;
}

.font-mono{
    font-family: 'Rubik';
    color: #f8f8f8;
    font-size: 1rem;
    user-select: none;
}

.form-selected{
    width: 100%;
    color: #cecece;
    padding: 0.25em;
    border-style: none none solid none;
    border-color: white;
    border-width: 1px;
    background: #383838;
    outline: none;
    position: relative;
    top: 2px;
    left: -1.2em;
}


.form-selected option{
    background: transparent;
    color: white;
}

.custom-textarea{
    width: 100%;
    background: #4646460c;
    margin-bottom: 1em;
    resize: none;
    transition: 0.4s all ease-in-out;
    color: #FF7B54;
    border-radius: 0.5em;
}

.custom-textarea:focus{
    outline: none;
    background: #4646466f;
}

.btn-cstm{
    border-radius: 0.75em;
    outline: none;
    border: none;
    padding: 0.25em 2em;
    transition: 0.2s all ease-in-out;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Rubik';
}

.bg-crear{
    background: #FF7B54;
    border: 1px solid #FF7B54;
}

.bg-crear:hover, .bg-cancel:hover{
    background: white;
    color: black;
    border: 1px solid black;
}

.bg-cancel{
    background: none;
    border: 1px solid white;
    color: white;
}

.text-error{
    position: relative;
    top: -1.5em;
    left: 4px;
    color: #ea4b15;
}