.t-100{
    top: 100px !important;
}

.t-15{
    top: 15px !important;
}

.h-630{
    height: 630px !important;
}

.h-150{
    min-height: 175px;
    height: auto;
}

.h-300{
    height: 380px;;
}

.w-200{
    width: 330px;
    margin: 0 auto;
}

.w-400{
    width: 600px;
    margin: 0 auto;
}

.w-600{
    width: 800px;
}



body.modal-open .contentArea{
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
}

.modal-header{
    padding: 0.5rem 1em;
    color: black;
    background: white;
    user-select: none;
}

.modal-content{
    background-color: transparent;
    border: none;
}

.modal-footer{
    border: none;
}

.bg-linear-body{
    background: linear-gradient(180deg, #393939 10%, #1c1c1c22 100%);
}

.bg-gray-modal{
    background: rgb(57, 57, 57);
}

.bg-square{
    background: #383838;
    color: #F8F8F8;
}

.bg-square-dark{
    background: #282828;
    color: #F8F8F8;
}

.bg-color-small{
    color: #787878;
}

.cursor{
    cursor: pointer;
}

.modal section{
    width: 99%;
    height: 350px;
    overflow: auto;
    margin: 3em auto 0;
    background: transparent;
    padding: 1em 3em;
}

/* width */
.modal section::-webkit-scrollbar {
    width: 5px;
  }
  
/* Track */
.modal section::-webkit-scrollbar-track {
background: #c1c1c134;
}

/* Handle */
.modal section::-webkit-scrollbar-thumb {
background: #acacac;
}

/* Handle on hover */
.modal section::-webkit-scrollbar-thumb:hover {
background: #555;
}

.modal-header svg:hover{
    color: red;
}

.setting-options{
    padding: 0;
    direction: rtl;
}

.setting-options li{
    list-style: none;
    transition: 0.2s all ease-in-out;
    padding: 0.5em 1em;
    cursor: pointer;
    font-family: 'Roboto';
    color: #F8F8F8;
}

.setting-options li:hover{
    background: #5050501e;
}

.custom-title{
    font-family: 'Roboto-Regular';
    user-select: none;
}

.custom-paragraph{
    font-family: 'Rubik';
    font-size: 1rem;
    text-align: justify;
    user-select: none;
}

.color-description{
    color: #808080;
}

.color-text{
    color: #f8f8f8;
}

.text-end{
    text-align: end;
}

.btn-save{
    color: #fff;
    background-color: #FF7B54;
    border-color: #FF7B54;
}

.btn-save svg{
    margin-right: 0.5em;
}

.btn-clse{
    color: #fff;
    background-color: #808080;
    border-color: #808080;
}

#fileExplorer{
    user-select: none;
}

#fileExplorer .files{
    height: 96%;
    width: 100%;
    background: #282828 ;
}

#fileExplorer .files .col-2{
    border-style: none solid none none;
    border-color: #2c2c2c;
    border-width: 1px;
    background: #2c2c2c;
    font-family: 'Roboto';
    color: #F8F8F8;
}

#fileExplorer .files .col-2 .row{
    cursor: pointer;
    transition: 0.1s all ease-in-out;
    border-style: none solid none none;
    border-color: transparent;
    border-width: 1px;
}

#fileExplorer .files .col-2 .row span{
    position: relative;
    top: 2px;
    font-size: 1rem;
}


#fileExplorer .files .col-2 .row:hover, #fileExplorer .files .col-2 .selected-option{
    background: #64646428;
    border-color: #FF7B54;
}


#fileExplorer .info{
    height: 4%;
    width: 100%;
    background: #383838;
    padding: 0.75em;
}

#fileExplorer .info svg:hover, #fileExplorer .info .selected-svg{
    fill: #FF7B54;
    cursor: pointer;
}

#fileExplorer table{
    color: #F8F8F8;
}

#fileExplorer table thead tr th{
    border-style: none solid none none;
    border-width: 1px;
    border-color: whitesmoke;
}

#fileExplorer table tbody tr:hover{
    background: #31313139;
    color: #FF7B54;
    cursor: pointer;
}

#fileExplorer table tbody tr:hover{
    background: #31313139;
    cursor: pointer;
}

#fileExplorer .waiting {
    height: 100%;
    width: 100%;
}

#fileExplorer .waiting img{
    max-width: 50%;
    max-height: 50%;
}

#fileExplorer .images-responsive{
    width: 100%;
    height: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start; /* NEW */
}

#fileExplorer .images-responsive .card-file{
    width: 7em;
    height: 9em;
    background: transparent;
    padding: 1em;
    font-family: 'Rubik';
    margin: 1em;
}

#fileExplorer .images-responsive .card-file svg{
    max-width: 100%;
    max-height: 100%;
    transition: 0.2s all ease-in-out;
}

#fileExplorer .images-responsive .card-file p{
    margin-top: 0.5em;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    transition: 0.2s all ease-in-out;
}

#fileExplorer hr{
    background: red;
    border-color: red;
    color: red;
    width: 95%;
}

#fileExplorer .non-result{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    user-select: none;
    padding: 1em;
}

#fileExplorer .table-responsive{
    max-height: 630px;
}
#fileExplorer .images-responsive .card-file:hover{
    cursor: pointer;
    background: rgba(0, 0, 0, 0.126);
}

#fileExplorer .images-responsive .card-file:hover > *{
    fill: #FF7B54;
    color: #FF7B54;
}

#main-notification .modal-content{
    width: 50%;
    height: 315px;
    margin: 0 auto;
    font-family: 'Rubik';
}

@media (min-width: 576px){
    .modal-dialog {
        max-width: 900px;
        margin: 1.75rem auto;
    }
}