.modal{
    top: 100px;
}

body.modal-open .contentArea{
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
}

.modal-header{
    padding: 0.5rem 1em;
    color: black;
    background: white;
}

.modal-content{
    background-color: transparent;
    border: none;
}

.modal-footer{
    border: none;
}

.modal-body{
    background: linear-gradient(180deg, #393939 10%, #1c1c1c22 100%);
}
.cursor{
    cursor: pointer;
}

.modal section{
    width: 90%;
    height: 350px;
    overflow: auto;
    margin: 3em auto 0;
    background: transparent;
    padding: 1em 3em;
}

/* width */
.modal section::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  .modal section::-webkit-scrollbar-track {
    background: #c1c1c134;
  }
  
  /* Handle */
  .modal section::-webkit-scrollbar-thumb {
    background: #acacac;
  }
  
  /* Handle on hover */
  .modal section::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.modal-header svg:hover{
    color: red;
}


@media (min-width: 576px){
    .modal-dialog {
        max-width: 900px;
        margin: 1.75rem auto;
    }
}