.t-100{
    top: 100px !important;
}

.t-15{
    top: 15px !important;
}

.h-630{
    height: 630px !important;
}

.h-150{
    min-height: 175px;
    height: auto;
}

.h-300{
    height: 380px;;
}

.w-400{
    width: 600px;
    margin: 0 auto;
}

.w-600{
    width: 800px;
}



body.modal-open .contentArea{
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
}

.modal-header{
    padding: 0.5rem 1em;
    color: black;
    background: white;
    user-select: none;
}

.modal-content{
    background-color: transparent;
    border: none;
}

.modal-footer{
    border: none;
}

.bg-linear-body{
    background: linear-gradient(180deg, #393939 10%, #1c1c1c22 100%);
}

.bg-gray-modal{
    background: rgb(57, 57, 57);
}

.bg-square{
    background: #383838;
    color: #F8F8F8;
}

.bg-square-dark{
    background: #282828;
    color: #F8F8F8;
}

.cursor{
    cursor: pointer;
}

.modal section{
    width: 99%;
    height: 350px;
    overflow: auto;
    margin: 3em auto 0;
    background: transparent;
    padding: 1em 3em;
}

/* width */
.modal section::-webkit-scrollbar {
    width: 5px;
  }
  
/* Track */
.modal section::-webkit-scrollbar-track {
background: #c1c1c134;
}

/* Handle */
.modal section::-webkit-scrollbar-thumb {
background: #acacac;
}

/* Handle on hover */
.modal section::-webkit-scrollbar-thumb:hover {
background: #555;
}

.modal-header svg:hover{
    color: red;
}

.setting-options{
    padding: 0;
    direction: rtl;
}

.setting-options li{
    list-style: none;
    transition: 0.2s all ease-in-out;
    padding: 0.5em 1em;
    cursor: pointer;
    font-family: 'Roboto';
    color: #F8F8F8;
}

.setting-options li:hover{
    background: #5050501e;
}

.custom-title{
    font-family: 'Roboto-Regular';
    user-select: none;
}

.custom-paragraph{
    font-family: 'Rubik';
    font-size: 1rem;
    text-align: justify;
    user-select: none;
}

.color-description{
    color: #808080;
}

.text-end{
    text-align: end;
}

.btn-save{
    color: #fff;
    background-color: #FF7B54;
    border-color: #FF7B54;
}

.btn-save svg{
    margin-right: 0.5em;
}

.btn-clse{
    color: #fff;
    background-color: #808080;
    border-color: #808080;
}

#main-notification .modal-content{
    width: 50%;
    height: 315px;
    margin: 0 auto;
    font-family: 'Rubik';
}

@media (min-width: 576px){
    .modal-dialog {
        max-width: 900px;
        margin: 1.75rem auto;
    }
}