html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 10pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #949AA7;
    background-color: #383839;
}

.main-container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 1px solid #343B48;
    -webkit-box-sizing: border-box;
}


.main-container .content-area{
    width: 100%;
    height: 100%;
}

.content-area .channels{
    width: 15%;
    background: #383838;
}

.channels .channel-title{
    height: 35px;
    width: 100%;
    background: #454545;
    color: rgb(228, 228, 228);
    font-size: 1.2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

.channels .channel-devices{
    width: 100%;
}

.channels .channel-devices ul{
    color: white;
    list-style: none;
    padding: 0 0.75em;
}

.channels .channel-devices ul li{
    transition: 0.2s all ease-in-out;
    cursor: pointer;
}

.channels .channel-devices ul li .p-s{
    padding-inline-start: 20px;
}

.channels .channel-devices ul li:hover{
    background: #3b3b3b;
}

.channels .channel-devices ul li svg{
    margin-left: 3em;
}

.content-area .graphs{
    width: 85%;
    background: #282828;
}

.cls-{
    fill: red;
}

.cls-1{fill:#000000;}

.cls-2{
    fill:#f8f8f8;
    cursor: pointer;
}

.cls-2:hover{
    fill:#b91f1f;
}

@media screen and (max-width: 1240px) {
    
    .channels .channel-devices ul li .p-s{
        padding-inline-start: 0px;
    }
    
    .channels .channel-devices ul li svg{
        margin-left: 0em;
    }
}