html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 10pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #949AA7;
    background-color: #383839;
}

.main-container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 1px solid #343B48;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


.main-container .content-area{
    width: 100%;
    height: 100%;
}

.content-area .channels{
    width: 15%;
    background: #383838;
}

.channels .channel-title{
    height: 35px;
    width: 100%;
    background: #454545;
    color: rgb(228, 228, 228);
    font-size: 1.2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

.channels .channel-devices{
    width: 100%;
}

.channels .channel-devices ul{
    color: white;
    list-style: none;
    padding: 0 0.75em;
}



.channels .channel-devices ul li{
    transition: 0.2s all ease-in-out;
    cursor: pointer;
}

.channels .channel-devices ul li p{
    color: red;
    display: inline;
}

.ellips{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    width: 130px;
}


.channels .channel-devices ul li:hover{
    background: #3b3b3b;
}


.content-area .graphs{
    width: 85%;
    background: #282828;
    height: 682px;
    overflow: auto;
}

/* width */
.content-area .graphs::-webkit-scrollbar {
    width: 5px;
}
  
  /* Track */
.content-area .graphs::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
}
  
  /* Handle */
.content-area .graphs::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
  
.cls-{
    fill: red;
}

.cls-3{
    fill: whitesmoke;
}

.cls-1{fill:#191818;}

.cls-2{
    fill:#f8f8f8;
    cursor: pointer;
}

.cls-2:hover{
    fill:#b91f1f;
}

.cls-disabled{
    fill: #626262;
}

.cls-selected{
    fill: #a51717;
}

.h-custom{
    height: 450px;
}

.btns-zone{
    position: relative;
    top: -10px;
    padding: 0 2em;
}

.muscle-preview{
    width: 90%;
    height: 200px;
    border: 1px solid white;
    border-radius: 5px;
    margin: 1em auto;
    background: black;
    text-align: center;
    justify-content: center;
    display: flex;
}

.muscle-info{
    width: 90%;
    margin: 1em auto;
}

.nombre{
    color: #FFB26B;
    font-weight: 700;
}

.txt-shadow{
    text-shadow: 1px 1px 1px #d1d1d1,
        1px 2px 1px #c55f00,
        1px 3px 1px #c55f00,

    1px 6px 6px rgba(16,16,16,0.4),
    1px 8px 10px rgba(16,16,16,0.2),
    1px 12px 35px rgba(16,16,16,0.2),
    1px 15px 60px rgba(16,16,16,0.4);
}

.btn-cstm{
    background: none;
    outline: none;
    border-radius: 0.5em;
    margin: 0.5em auto;
    padding: 0.5em;
    min-width: 49%;
    transition: 0.2s all ease-in-out;
}

.bg-cancelar{
    background: #b8282881;
    border: 1px solid #b62828;
    color: white;
}

.bg-cancelar:hover{
    background: #b82828d7;
}

.bg-aceptar{
    background: #ffb36b75;
    border: 1px solid #FFB26B;
    color: #222222
}

.bg-aceptar:hover{
    background: #ffb36bc8;
    border: 1px solid #FFB26B;
    color: #222222
}

.container-message{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 90%;
    user-select: none;
    padding: 1em;
}

.main-graph-container{
    width: 98%;
    height: auto;
    border-radius: 0.5em;
    margin: 1em auto;
    background: #303030;
    overflow: hidden;
}

.main-graph-container .colocao{
    height: 300px;
    width: 100%;
    border: 1px solid white;
}

.secondary-graph-container{
    width: 1900px;
    height: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    background: #3f3f3f;
    padding: 1em;
    overflow: auto;
}

.subgraph{
    width: 100%;
    height: 50%;
    border: 1px solid #353535;
    overflow: auto;
}

.menu{
    width: 100%;
    height: 30px;
    background: #4b4b4b;
    text-align: center;
    padding: 0.25em 0;
}

.menu svg{
    fill: #b8b8b8;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}

.menu .play-icon:hover{
    fill: green;
}

.menu .pause-icon:hover{
    fill: #004f80;
}

.menu .setting-icon:hover{
    fill: #343434;
}

.menu .download-icon:hover{
    fill: #3c3c3c;
}

.text-incrusted{
    font-weight: 700;
    font-size: 1.5rem;
    color: #424242;
}

.pr-0{
    padding-right: 0 !important;
}

.pl-0{
    padding-left: 0 !important;
}

@keyframes highlight-text {
    0% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

@media screen and (max-width: 1240px) {
    .ellips{
        width: 70px;
    }
}